# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.cringe.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Тимур\cringe\.idea\.idea.cringe.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
